.feynman__link {
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
  transition: opacity .9s ease;
}
.feynman__link:hover{
  opacity: 0.4;
}
  