.feynman {
  min-height: 890px;
  background-color: #f2f2f2;
  background-image: url(../../images/feynman.png);
  background-repeat: no-repeat;
  background-position: bottom 0px left 0px;
  background-size: 867px 637px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}