.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
  
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color:  #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 1;
}
  
.header__position {
  position: relative;
  padding-left: 64px;
  display: flex;
  align-items: center;
}
.logo_place_header{
  position:absolute;
  top: 30px;
  height: 32px;
  width: 183px;
}
.header__main-illustration {
  position:absolute;
  height: 606px;
  width: 765px;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.header__subtitle {
  position: absolute;
  bottom: 30px;
  font-size: 18px;
  line-height:25px;
  width: 388px;
  z-index: 2;
}
.header__link {
  text-decoration:none;
  z-index: 2;
}
.header__title{
  font-size: 102px;
  line-height:96px;
  font-weight:bold;
  z-index:2;
  width: 730px;
}
.description{
  margin-top: 100px;
  margin-bottom: 100px;
}
.two-columns {
  width: 80%;
  display: flex;
  margin: auto;
  justify-content: space-between;
}
.two-columns__brief {
  width: 175px;
  font-size:18px;
  line-height:1.2;
  font-weight:normal;
  color: #2f80ed;
  margin: 0;
}
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}
.two-columns__paragraph {
  font-size:24px;
  line-height:34px;
  font-weight:normal;
  margin: auto;
}
.two-columns__span-accent{
  font-size:24px;
  line-height:34px;
  font-weight:600;
}
.two-columns__paragraph_indent {
  margin: 30px 0px;
}
.digits {
  margin-bottom: 100px;
}
.section__flex{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section-title {
  line-height:1.15;
  font-size:60px;
  font-weight:600;
  margin: 0;
  max-width: 60%;
}
.section-subtitle {
  line-height:34px;
  font-size:24px;
  font-weight:normal;
  margin: 20px 0 0 0;
  max-width: 60%;
}
.table {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0;
  padding: 0;
}
.table__cell {
  max-width: 250px;
  min-width: 250px;
  margin-top: 60px;
}
.table__heading {
  line-height:1.15;
  font-size:24px;
  font-weight:600;
  margin: 0;
}
.table__text {
  line-height:1.2;
  font-size:18px;
  font-weight:normal;
  margin: 20px 0;
}
.feynman {
  min-height: 890px;
  background-color: #f2f2f2;
  background-image:url(/images/feynman.png);
  background-repeat: no-repeat;
  background-position:bottom 0px left 0px;
  background-size: 867px 637px;
  display: flex;
    flex-direction: column;
    align-items: center;
  position: relative;
}
.feynman__title {
  font-size: 120px;
  line-height:1.15;
  font-weight:600;
  margin: 100px 0 70px 0;
  width: 648px;
  height: 50%;
  text-align: center;
}
.feynman__subtitle {
  font-size:36px;
  line-height:51px;
  font-weight:normal;
  margin: 0;
}
.feynman__link {
  text-decoration:none;
  line-height:51px;
  font-size:36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
}
.kaufman {
  position: relative;
  overflow: hidden;
  background-color:  #1f1f1f;
}
.kaufman__triangle{
  position: absolute;
  right: -210px;
  z-index: 1;
  height: 877px;
  width: 877px;
}
.section-title_theme_dark {
  color: white;
  z-index: 2;
  margin: 90px 0 0 0;
}
.section-subtitle_theme_dark {
  color: white;
  z-index: 2;
}
.table_theme_dark {
  z-index: 2;
  margin-bottom: 90px;
}
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  min-width: 200px;
  margin-top: 80px;
}
.footer {
  background-color:  #1f1f1f;
  color: white;
  display: flex;
  justify-content: center;
  min-height: 350px;
  
}
.footer__columns {
  display: flex;
  justify-content: space-around;
  padding: 60px 0 40px 0;
  width: 90%;
}
.footer__columns_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logo_place_footer {
  width: 183px;
  height: 37px;
}
.footer__author {
  margin: 18px 0;
  line-height:25px;
  font-size:18px;
  font-weight: normal;
}
.footer__column-heading {
  margin: 0;
  line-height:30px;
  font-size:18px;
  font-weight: 600;
}
.footer__column-links {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin:20px 0 16px 0;
  line-height:30px;
  font-size:18px;
  font-weight: normal;
}
.footer__column-link {
  list-style: none;
  padding: 0;
  margin: 20px 0 16px 0;
  line-height:30px;
  font-size:18px;
  font-weight: normal;
}
.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.footer__link{
  text-decoration: none;
  color: #fff;
}